body {
  padding-top: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  position: relative;
}

 a {
  text-decoration: none;
  text-align: center;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 1em 1.4em;
  color: white;
}

#target {
  width: 600px;
  margin: 0 auto 2em;

  border: 3px solid gray;
  padding: 1.5em 1em;
  font-size: 30px;
  letter-spacing: 0.1em;

  .style {
    color: red;
  }
}

#reset {
  font-size: 25px;
  width: 600px;
  text-align: center;
  background: black;
  color: white;
  border: 2px solid rgb(189, 187, 187);
  border-radius: 5px;
  padding: 0.2em 1.2em;

  position: absolute;
  top: 210px;
  left: 245px;

}

.hidden {
  display: none;
}
