body {
  padding-top: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  position: relative;
}

#target {
  width: 600px;
  margin: 0 auto 2em;

  border: 3px solid gray;
  padding: 1.5em 1em;
  font-size: 30px;
  letter-spacing: 0.1em;

  .style {
    color: red;
  }
}

#reset {
  font-size: 25px;
  width: 600px;
  text-align: center;
  background: black;
  color: white;
  border: 2px solid rgb(189, 187, 187);
  border-radius: 5px;
  padding: 1.2em 1.2em;

  margin:0 auto;

}

.hidden {
  display: none;
}
